

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/* Globals */
body {
    font-family: 'Lato', sans-serif;
}

.btn-success,
.bg-success {
    background-color: #5bbeb9 !important;
    border: none;
}

.section-title {
    text-transform: uppercase;
    font-size: 17px;
    margin-bottom: 30px;
    margin-top: 46px;
}

/* 1. Header */
header nav .support-title,
header nav .support-value {
    display: block;
    text-transform: uppercase;
}

header nav .support-title {
    font-size: 12px;
}

header nav .support-value {
    font-size: 24px;
    font-weight: bold;
}

header .navbar-nav .nav-item .nav-link {
    text-transform: uppercase;
}

header .header-advisor .list-group > .list-group-item {
    border: none;
    text-transform: uppercase;
    font-size: 13px;
}

header .header-advisor .list-group > .list-group-item > a {
    color: inherit;
}

header .dropdown > button {
    padding: 0;
    font-size: 13px;
}

/* 2. Navigation */
.navigation {
    margin-top: 10px;
}

.navigation .dropdown > button {
    width: 100%;
    text-transform: uppercas
}

.navigation .list-group > .list-group-item {
    border: none;
    background: transparent;
}

.navigation .list-group > .list-group-item > a {
    color: inherit;
}

.navigation .list-group > .list-group-item > a:hover {
    text-decoration: none;
}

.navigation .navigation-icon-count {
    background: #ca0828;
    color: #fff;
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    left: 44px;
    top: -2px;
    position: absolute;
}

.navigation .navigation-icon-head,
.navigation .navigation-icon-description {
    display: block;
}

.navigation .navigation-icon-head {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}

.navigation .navigation-icon-description {
    font-size: 12px;
}

.navigation .navigation-icon-wrapper {
    display: inline-block;
    padding-left: 10px;
}

.navigation .form-control {
    display: flex;
    flex-grow: 1;
    border-color: #5bbeb9;
    border-right: none;
}

.navigation .form-control:focus {
    box-shadow: none;
}

.navigation .form-control,
.navigation .btn {
    border-radius: 0;
}


/* 3. Carousel */
.carousel {
    margin-top: 10px;
}

.carousel .carousel-inner img {
    width: 100%;
    height: 100%;
}


/* 4. Guide */
.guide {
    margin-top: 10px;
}

.guide .guide-col {
    padding: 27px;
    text-align: center;
}

.guide .guide-col .guide-icon-wrapper {
    display: inline-block;
}

.guide .guide-col .guide-description-wrapper {
    display: block;
}

.guide .guide-col .guide-icon-wrapper {
    background: #5bbeb9;
    color: #fff;
    padding: 19px;
    border-radius: 100%;
}

.guide .guide-col .guide-description-wrapper .guide-step {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-top: 7px;
}

.guide .guide-col .guide-description-wrapper p {
    font-size: 13px;
}


/* 4. Payments */
.payments {
    margin-top: 60px;
    margin-bottom: 39px;
}

.payments .payments-title {
    display: block;
    margin-top: 11px;
    font-size: 17px;
    color: gray;
    text-transform: uppercase;
}


/* 5. Blog */
.blog {
    margin-top: 10px;
    margin-bottom: 10px;
}

.blog-item * {
    position: relative;
    color: #fff;
}

.blog-item {
    position: relative;
    height: 310px;
}

.blog-item:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(107, 196, 192, 0.7);
}

.blog-item .blog-description {
    position: absolute;
    bottom: 0;
    padding: 24px;
}

.blog-item .blog-description .blog-title {
    display: block;
    color: #fff;
    font-size: 32px;
    margin-bottom: 24px;
}

.blog-item .blog-description .blog-item-date {
}

.blog-item .blog-description .blog-item-views {
    display: block;
    text-align: right;
    font-size: 24px;
}

/* 6. Products */

.products {
    
}

.products .product-col {
    text-align: center;
    border: 1px solid #f3f3f3;
    padding: 23px;
}

.products .product-col .product-name {
    display: block;
    min-height: 46px;
}

.products .product-col .product-image {
    display: block;
}

.products .product-col .product-category {
    display: block;
    font-size: 12px;
    color: #b9bfc5;
}

.products .product-col .product-cart-btn {
    width: 100%;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 18px;
}

.products .product-col .product-meta {
    margin-top: 18px;
}

.products .product-col .product-meta > span {
    display: inline-block;
}

.products .product-col .product-meta .product-price {
    text-align: left;
    float: left;
}

.products .product-col .product-meta .product-actions {
    text-align: right;
    float: right;
}

.products .product-col .product-meta .product-actions a {
    color: #5bbeb9;
}

/* 7. Footer */

footer {
    padding-top: 50px;
    margin-top: 60px;
    border-top: 1px solid #eaeaea;
}

footer ul li a,
footer ul li a:hover {
    color: inherit;
}

footer ul li {
    margin-bottom: 10px;
}

